.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  justify-content: center;
}

.card {
  background-color: rebeccapurple;
  border: 2px solid rgb(56, 24, 53);
  color: white;
  margin: 10px;
  width: 20%;
  font-size: 15px;
  text-align: right;
}

.name{
    background-color: #f8ae36;
    margin-left: 60%;
}

.profilePic{
    width: 100%;
}

.loader5 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rebeccapurple;
  border-top: 15px solid #f5ab35;
  -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
  animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes loader5 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}
