/* user card start */
.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.card {
  background-color: rebeccapurple;
  border: 2px solid none;
  color: white;
  margin: 10px;
  width: 30%;
  font-size: 12px;
}
.info-container {
  display: flex;
  font-family: "Commissioner", sans-serif;
}
.profilepicCont {
  width: 95%;
}

.profilePic {
  width: 80%;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 5px 10px black;
}
.dataTags {
  text-transform: uppercase;
  font-size: 12px;
  width: 30%;
  text-align: right;
}

.data {
  background-color: #6c63ff;
  color: white;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  text-align: left;
  box-shadow: 5px 10px black;
}
/* user card end */

/* loader css start */
.loader5 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rebeccapurple;
  border-top: 15px solid #f5ab35;
  -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
  animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes loader5 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}
/* loader css end */

/* loader transition ease in and out start*/
.loading-enter {
  opacity: 0.01;
}

.loading-enter.loading-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.loading-leave {
  opacity: 1;
}

.loading-leave.loading-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* loader transition ease in and out end*/
